* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, main{
    margin: 2% 20%;
}

header h1, p {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    color: #E53170;
    font-family: 'Fredoka', sans-serif;
}
.col {
    height: 100px;
    width: calc(100% / 3 );
    border: red solid 1px;
    float: left;
    background-color: rgb(1, 1, 19);
}
.clearfix::after {
    clear: both;
    height: 10px;
}

.col img{
    height: 100%;
    float: left;
    margin-right: 15px;
}
.border{

}
span {
    color: white;
    font-family: 'Fredoka', sans-serif;
    display: block;
    vertical-align: middle;
    padding-top: 7px;
}
strong {
    font-size: 20px;
}
